<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Learning</title>
</head>
<body>
    <h1>Learning Django to be a python developer</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam deleniti voluptas ullam ab voluptates. Reprehenderit quis consequatur laborum labore animi veritatis quos, quasi sunt voluptatum eligendi nisi suscipit, soluta necessitatibus.</p>

    <footer>
        <p>developed by suvamnaskar</p>
    </footer>

    <script>
        alert("Hello User")
    </script>
</body>
</html>